<div class="container mx-auto pt-2 pb-8">
    <h1 class="hidden lg:block mb-8 mt-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 lg:text-4xl lg:text-5xl dark:text-white w-full"><span class="underline underline-offset-3 decoration-8 decoration-primary-100 dark:decoration-primary-100">{{ 'USAGE_SPECS._usage_spec' | translate }}</span></h1>
    <div class="flex flex-cols mr-2 ml-2 lg:hidden">
      <h1 class="mb-8 mt-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 lg:text-4xl lg:text-5xl dark:text-white w-full"><span class="underline underline-offset-3 decoration-8 decoration-primary-100 dark:decoration-primary-100">{{ 'USAGE_SPECS._usage_spec' | translate }}</span></h1>
      <div class="flex align-middle content-center items-center">
        <button id="dropdown-nav" data-dropdown-toggle="dropdown-nav-content" 
        class="group text-black dark:text-white h-fit w-fit justify-between shadow bg-white dark:bg-secondary-200 hover:bg-gray-100 dark:hover:bg-secondary-300 focus:ring-4 focus:outline-none focus:ring-primary-100 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center shadow-lg"
        type="button">
        <svg class="w-4 h-4 mr-2 text-black dark:text-white group-hover:text-black dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
        {{ 'USAGE_SPECS._usage_spec' | translate }}
      </button>
      </div>
  
    </div>
        
    <!-- Dropdown menu -->
    <div id="dropdown-nav-content" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdown-nav">
          <li>
            <a (click)="goToUsageSpec()" class="cursor-pointer block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">{{ 'USAGE_SPECS._list' | translate }}</a>
          </li>
        </ul>
    </div>
        
      <div class="w-full grid lg:grid-cols-20/80">
  
          <div class="hidden lg:block">
            <div class="w-48 h-fit text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white mb-8">
              <button (click)="goToUsageSpec()" id="catalogs-button" aria-current="true" class="block w-full px-4 py-2 text-white bg-primary-100 border-b border-gray-200 rounded-t-lg cursor-pointer dark:border-gray-600 hover:bg-gray-100 hover:text-secondary-400 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
                {{ 'USAGE_SPECS._list' | translate }}
              </button>
            </div>
          </div>
  
          @if(show_usage_specs){
            <usage-list></usage-list>
          }
          @if(show_create_usage){
            <create-usage-spec></create-usage-spec>
          }
          @if(show_update_usage){
            <update-usage-spec [usageSpec]="usageSpecToUpdate"></update-usage-spec>
          }
      </div>
  </div>