body.theme-ocei {
  /* Define primary and secondary colors for the Galaxy theme. */
  /* These variables will be used by TailwindCSS and custom components. */
  
  /* Example HEX: #8A2BE2 */
  --theme-primary-50: 76 199 212;
  /* Example HEX: #4B0082 */
  --theme-primary-100: 68 213 185;

  /* Example HEX: #E6E6FA */
  --theme-secondary-50: 255 255 255;
  /* Example HEX: #2C004C */
  --theme-secondary-100: 255 255 255;
}