
<div class="container mx-auto pt-2 pb-8">
    <!-- Breadcrumb -->
    <div class="pb-4">
        <nav class="flex px-5 py-3 text-gray-700 border border-secondary-50 rounded-lg bg-secondary-50 dark:bg-secondary-100 dark:border-gray-800" aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
            <li class="inline-flex items-center">
                <button (click)="back()" class="inline-flex items-center text-sm font-medium text-gray-500 dark:text-white hover:text-primary-100 dark:hover:text-primary-50">
                <svg class="w-3 h-3 mr-2 text-gray-400 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 12 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" d="M5 1 1 5l4 4m6-8L7 5l4 4"/>
                </svg>
                {{ 'PRODUCT_DETAILS._back' | translate }}
                </button>
            </li>
            <li aria-current="page">
                <div class="flex items-center">
                <svg class="rtl:rotate-180  w-3 h-3 mx-1 text-gray-400 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                </svg>
                <span class="ms-1 text-sm font-medium text-gray-500 dark:text-white md:ms-2 ">{{ 'PRODUCT_DETAILS._details' | translate }}</span>
                </div>
            </li>
            </ol>
        </nav>
    </div>
    <!-- End Breadcrumb -->

    <!-- START HEADER CARD -->
    <div class="w-full lg:h-fit mb-4 bg-secondary-50 rounded-lg dark:bg-secondary-100 dark:border-gray-800 border-secondary-50 border lg:grid lg:grid-cols-60/40">
        <div class="flex lg:hidden overflow-hidden justify-center items-center bg-white rounded-t-lg w-full">
            <img class="rounded-t-lg h-5/6 w-5/6 object-contain dark:text-white" src="{{getProductImage()}}" alt="Product image" />
        </div>
        <div class="grid grid-rows-auto p-4 md:p-8 h-fit">
            <div class="mt-2 h-fit">
                <!--<a href="#">-->
                <h5 class="md:text-3xl lg:text-4xl font-semibold tracking-tight text-primary-100 dark:text-white text-wrap break-all">{{productOff?.name}}</h5>
                <!--</a>-->
            </div>
            <div class="pt-2 line-clamp-5 h-fit">
                <markdown class="dark:text-gray-200 text-wrap break-all" [data]="productOff?.description"></markdown>
            </div>
            <div class="flex flex-row justify-between h-fit">
                @if(orgInfo!=undefined){
                    <div class="dark:text-gray-200" >
                        {{ 'CARD._owner' | translate }}: <a (click)="goToOrgDetails(orgInfo.id)" target="_blank" class="cursor-pointer font-medium text-primary-100 dark:text-primary-50 hover:underline">{{orgInfo.tradingName}}</a>
                    </div>

                  }
                <div class="h-fit pt-2 dark:text-gray-300">V: {{productOff?.version || 'latest'}}</div>
                <!--<div class="flex items-center justify-end">
                    <svg class="w-4 h-4 text-yellow-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                      <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                    </svg>
                    <svg class="w-4 h-4 text-yellow-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                      <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                    </svg>
                    <svg class="w-4 h-4 text-yellow-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                      <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                    </svg>
                    <svg class="w-4 h-4 text-yellow-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                      <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                    </svg>
                    <svg class="w-4 h-4 text-gray-200 dark:text-gray-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                      <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                    </svg>
                    <span class="bg-blue-100 text-blue-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ml-3">5.0</span>
                </div>-->
            </div>
            <div class="h-fit overflow-x-hidden flex items-center flex-wrap">
                @for (cat of categories; track cat.id) {
                  <bae-badge class="mr-2" [category]=cat></bae-badge>
                }
              
                @if(complianceLevel=='NL'){
                  <a class="text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded-md mb-1"
                     [ngClass]="complianceLevel == 'NL' ? 'bg-red-200 text-red-700' : complianceLevel == 'BL' ? 'bg-orange-200 text-orange-700' : complianceLevel == 'P' ? 'bg-yellow-200 text-yellow-700' : 'bg-green-200 text-green-700'">
                    <fa-icon [icon]="faAtom" class="mr-2"
                             [ngClass]="complianceLevel == 'NL' ? 'text-red-700' : complianceLevel == 'BL' ? 'text-orange-700' : complianceLevel == 'P' ? 'text-yellow-700' : 'text-green-700'"></fa-icon>
                    No level
                  </a>
                } @else if(complianceLevel=='BL'){
                    <img
                        class="z-10 h-[1.2rem] max-w-[8rem] object-contain rounded-md mr-2"
                        src="assets/logos/baseline.png"
                        alt="Baseline logo"
                    />  
                } @else if(complianceLevel=='P') {
                    <img
                        class="z-10 h-[1.2rem] max-w-[8rem] object-contain rounded-md mr-2"
                        src="assets/logos/prof.png"
                        alt="Professional logo"
                    />                  
                } @else {
                    <img
                        class="z-10 h-[1.2rem] max-w-[8rem] object-contain rounded-md mr-2"
                        src="assets/logos/profplus.png"
                        alt="Professional plus logo"
                    />  
                }
              </div>
        </div>
        <div class="hidden lg:block overflow-hidden rounded-r-lg">
            <div class="hidden lg:flex relative justify-center items-center w-full h-full">
                <!-- Imagen de fondo difuminada -->
                <div class="object-contain overflow-hidden absolute inset-0 bg-cover bg-center opacity-75" style="background-image: url({{getProductImage()}});filter: blur(20px);"></div>
                <!-- Imagen superior -->
                <img class="object-contain h-5/6 w-5/6 max-h-[350px] z-10 p-8 dark:text-white" src="{{getProductImage()}}" alt="Product image">
            </div>
        </div>
    </div>
<!-- END HEADER CARD -->
    <div id="tabs-container" class=" sticky top-[72px] z-10 w-full h-full bg-secondary-50 rounded-t-lg pt-4 pr-4 pl-4 dark:bg-secondary-100 dark:border-gray-800 border-secondary-50 border-t">
        <div class="inline-flex overflow-x-auto overflow-y-hidden w-full text-sm font-medium text-center text-gray-600 dark:text-white border-b border-gray-300 dark:border-white justify-between">
            <ul class="flex flex-wrap -mb-px">
                <li class="mr-2">
                    <button id="details-button" (click)="goToDetails(true)"
                        class="inline-block p-4 text-primary-100 dark:text-primary-50 dark:border-primary-50 border-b-2 border-primary-100 rounded-t-lg hover:text-primary-50 hover:border-primary-50">
                        {{ 'PRODUCT_DETAILS._details' | translate }}
                    </button>
                </li>
                @if(prodSpec.productSpecCharacteristic != undefined && prodSpec.productSpecCharacteristic.length>0) {
                    <li class="mr-2">
                        <button id="chars-button" (click)="goToChars(true)" class="inline-block p-4 rounded-t-lg hover:text-primary-50 hover:border-primary-50"
                            aria-current="page">
                            {{ 'PRODUCT_DETAILS._chars' | translate }}
                        </button>
                    </li>
                }
                @if(attatchments.length>0){
                    <li class="mr-2">
                        <button id="attach-button" (click)="goToAttach(true)"
                            class="inline-block p-4 rounded-t-lg hover:text-primary-50 hover:border-primary-50">
                            {{ 'PRODUCT_DETAILS._attach' | translate }}
                        </button>
                    </li>
                }
                @if(licenseTerm || productOff?.serviceLevelAgreement){
                    <li class="mr-2">
                        <button id="agreements-button" (click)="goToAgreements(true)"
                            class="inline-block p-4 rounded-t-lg hover:text-primary-50 hover:border-primary-50">
                            {{ 'PRODUCT_DETAILS._agreements' | translate }}
                        </button>
                    </li>
                }
                @if(prodSpec.productSpecificationRelationship != undefined && prodSpec.productSpecificationRelationship.length>0){
                    <li class="mr-2">
                        <button id="relationships-button" (click)="goToRelationships(true)"
                            class="inline-block p-4 rounded-t-lg hover:text-primary-50 hover:border-primary-50">
                            {{ 'PRODUCT_DETAILS._relationships' | translate }}
                        </button>
                    </li>
                }
            </ul>
            @if(check_logged){
                @if (!isCustom()) {
                    <button type="button" (click)="openDrawer()" [disabled]="!PURCHASE_ENABLED || productAlreadyInCart" [ngClass]="!PURCHASE_ENABLED || productAlreadyInCart ? 'opacity-50' : 'hover:bg-primary-50'" class="hidden md:flex w-fit m-2 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        <svg class="w-3.5 h-3.5 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 21">
                            <path d="M15 12a1 1 0 0 0 .962-.726l2-7A1 1 0 0 0 17 3H3.77L3.175.745A1 1 0 0 0 2.208 0H1a1 1 0 0 0 0 2h.438l.6 2.255v.019l2 7 .746 2.986A3 3 0 1 0 9 17a2.966 2.966 0 0 0-.184-1h2.368c-.118.32-.18.659-.184 1a3 3 0 1 0 3-3H6.78l-.5-2H15Z"/>
                        </svg>
                    {{ 'CARD._add_cart' | translate }}
                    </button>
                } @else if(providerThemeName=='DOME') {
                    <button type="button" (click)="toggleQuoteModal();$event.stopPropagation();" class="hidden md:flex m-4 w-fit flex items-center justify-start text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        {{ 'CARD._quote' | translate }}
                        <svg class="w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
                        </svg>
                    </button>
                }
            }
        </div>
        @if(check_logged) {
            @if (!isCustom()) {
                <button type="button" (click)="openDrawer()" [disabled]="!PURCHASE_ENABLED || productAlreadyInCart" [ngClass]="!PURCHASE_ENABLED || productAlreadyInCart ? 'opacity-50' : 'hover:bg-primary-50'" class="flex md:hidden justify-end w-fit m-2 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    <svg class="w-3.5 h-3.5 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 21">
                        <path d="M15 12a1 1 0 0 0 .962-.726l2-7A1 1 0 0 0 17 3H3.77L3.175.745A1 1 0 0 0 2.208 0H1a1 1 0 0 0 0 2h.438l.6 2.255v.019l2 7 .746 2.986A3 3 0 1 0 9 17a2.966 2.966 0 0 0-.184-1h2.368c-.118.32-.18.659-.184 1a3 3 0 1 0 3-3H6.78l-.5-2H15Z"/>
                        </svg>
                    {{ 'CARD._add_cart' | translate }}
                </button>
            } @else if(providerThemeName=='DOME') {
                <button type="button" (click)="toggleQuoteModal();$event.stopPropagation();" class="md:hidden m-4 w-fit flex items-center justify-start text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    {{ 'CARD._quote' | translate }}
                    <svg class="w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
                    </svg>
                </button>
            }
        }
    </div>

    <div class="w-full h-full bg-secondary-50 rounded-b-lg p-4 dark:bg-secondary-100 dark:border-gray-800 border-secondary-50 border-b">

        <div id="desc-container" class="w-full bg-secondary-50/95 dark:bg-secondary-100/95 rounded-lg p-8 lg:p-12">
            <div #detailsScrollAnchor id="details-scroll-anchor" class="pt-[88px] -mt-[88px]"></div>
            <div id="details-container">
                <h2 #detailsContent class="text-4xl font-extrabold text-primary-100 dark:text-primary-50 text-center pb-4">Description</h2>
                <markdown class="dark:text-gray-200 text-wrap break-all" [data]="prodSpec.description"></markdown>
                @if(serviceSpecs.length > 0){
                    <div class="pb-2">
                        <h5 class="text-xl font-semibold tracking-tight text-primary-100 dark:text-primary-50">{{ 'PRODUCT_DETAILS._service_spec' | translate }}:</h5>
                        @for(service of serviceSpecs; track service.id){
                            <p class="pl-4 dark:text-gray-200"><b>{{service.name}}</b>:  <markdown class="text-gray-800 dark:text-gray-200 text-wrap break-all" [data]="service.description"></markdown></p>
                        }
                    </div>
                }
                @if(resourceSpecs.length > 0){
                    <div class="pb-2">
                        <h5 class="text-xl font-semibold tracking-tight text-primary-100 dark:text-primary-50">{{ 'PRODUCT_DETAILS._resource_spec' | translate }}:</h5>
                        @for(resource of resourceSpecs; track resource.id){
                            <p class="pl-4 dark:text-gray-200"><b>{{resource.name}}</b></p>
                        }
                    </div>
                }
                <!--<div class="pb-2">
                    <h5 class="text-xl font-semibold tracking-tight text-primary-100">{{ 'CARD._comp_profile' | translate }}:</h5>
                    @for (char of complianceProf; track char.id) {
                        @if (char.href == '#') {
                            <p class="pl-4"><b>{{char.name}}</b>: {{char.value}}</p>
                        } @else {
                            <p class="pl-4"><b>{{char.name}}</b>: <a href="{{char.href}}">{{char.value}}</a></p>
                        }
                    }
            </div>-->
            <h2 class="text-4xl font-extrabold text-primary-100 dark:text-primary-50 text-center pb-8 pt-12">{{ 'CARD._comp_profile' | translate }}</h2>

              
            <div class="container mx-auto px-4">
                @if(complianceLevel=='NL'){
                    <h3 class="text-2xl font-bold text-primary-100 dark:text-primary-50 text-left mb-2">                    
                       No level
                    </h3>
                }@else if(complianceLevel=='BL'){
                    <img class="z-10 dark:text-white rounded-md mr-2" src="assets/logos/baseline.png">
                } @else if(complianceLevel=='P') {
                <img class="z-10 dark:text-white rounded-md mr-2" src="assets/logos/prof.png">
                } @else {
                <img class="z-10 dark:text-white rounded-md mr-2" src="assets/logos/profplus.png">
                }
                <p class="mb-2 text-gray-800 dark:text-gray-200">
                    {{ complianceDescription }}
                </p>
                @if (selfAtt) {
                    <a [href]="selfAtt" target="_blank"
                       class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                       {{ 'PRODUCT_DETAILS._self_attestation' | translate }}
                    </a>
                  }
                  
                <div class="flex flex-wrap -mx-4 mt-4 justify-center">
                    @for (char of complianceProf; track char.id) {
                        <div class="w-full md:w-1/2 lg:w-1/3 px-4 mb-8 " >
                            <div class="border border-2 rounded-lg shadow bg-white dark:bg-secondary-200 shadow-md p-8 h-full border-primary-100 cursor-pointer" (click)="goToLink(char.href)">
                            <!--[ngClass]="char.href == '#' ? 'border-gray-400' : (isVerified(char) && char.domesupported == true ? 'border-green-500' : 'border-green-300')">
                                <div class="flex justify-between">
                                    @if (char.href == '#') {
                                        <a class="text-xs font-small md:font-medium inline-flex items-center px-2.5 py-0.5 rounded-md mb-2 bg-gray-400 dark:bg-gray-700 dark:text-white text-gray-900">
                                            Not required
                                        </a>
                                    } @else {
                                        <a class="mb-2 font-small md:font-medium pl-4 text-primary-100" target="_blank" href="{{char.href}}">
                                            {{char.value}}
                                        </a>
                                        @if(!char.domesupported) {
                                            <a class="text-xs font-small md:font-medium inline-flex items-center px-2.5 py-0.5 rounded-md mb-2 bg-green-300 text-green-700">
                                                Self declared
                                            </a>
                                        }
                                        @if(char.domesupported == true && !isVerified(char)) {
                                            <a class="text-xs font-small md:font-medium inline-flex items-center px-2.5 py-0.5 rounded-md mb-2 bg-green-300 text-green-700">
                                                In validation
                                            </a>
                                        }
                                        @if(char.domesupported == true && isVerified(char)){
                                            <a class="text-xs font-small md:font-medium inline-flex items-center px-2.5 py-0.5 rounded-md mb-2 bg-green-500 text-white">
                                                Dome verified
                                            </a>
                                        }
                                    }
                                    @if(char.domesupported == true){
                                        <fa-icon [icon]="faAtom" class="fa-2xl text-primary-100 align-middle"></fa-icon>
                                    } @else {
                                        <fa-icon [icon]="faAtom" class="fa-2xl text-gray-600 align-middle"></fa-icon>
                                        }
                                        <fa-icon [icon]="faAtom" class="fa-2xl text-primary-100 align-middle"></fa-icon>
                                </div>-->
                                <fa-icon [icon]="faAtom" class="fa-2xl text-primary-100 align-middle"></fa-icon>
                                <h3 class="text-2xl font-bold mt-4 dark:text-white">{{char.name}}</h3>

                            </div>
                        </div>
                    }
                </div>
            </div>

            <h2 class="text-4xl font-extrabold text-primary-100 dark:text-primary-50 text-center pb-8 pt-12">{{ 'PRODUCT_DETAILS._product_pricing' | translate }}</h2>
            @if(productOff?.productOfferingPrice != undefined){
                @if(checkCustom){
                    <div class="grid gap-4 p-2 justify-center justify-items-center [grid-template-columns:repeat(auto-fit,minmax(250px,max-content))]">
                        @for (price of productOff?.productOfferingPrice; track price.id) {
                            @if (price.priceType == 'custom') {
                                <div class="mx-auto bg-white border border-gray-200 dark:bg-secondary-200 dark:border-gray-800 rounded-lg shadow w-full p-4">
                                    <div class="flex justify-start mb-2">
                                        <h2 class="text-gray-900 dark:text-white text-3xl font-extrabold mb-2 break-all">{{price.name}}</h2>
                                    </div>
                                    <markdown class="dark:text-gray-200 w-full p-4 text-wrap break-all" [data]="price?.description"></markdown>
                                </div>
                            }
                        }
                        @if(productOff?.productOfferingPrice?.length==0){
                            <div class="inline-flex items-center justify-center w-full">
                                <div class="mx-auto bg-white border border-gray-200  rounded-lg shadow w-full">
                                    <div class="bg-blue-500 rounded-t-lg w-full">
                                        <h5 class="flex justify-center mb-2 p-6 text-2xl font-bold tracking-tight text-gray-900">{{ 'SHOPPING_CART._free' | translate }}</h5>
                                    </div>
                                    <p class="flex justify-center mb-2 p-4 font-normal text-gray-700">{{ 'SHOPPING_CART._free_desc' | translate }}</p>
                                </div>
                            </div>
                        }
                    </div>
                } @else {
                    <div class="grid gap-4 p-2 justify-center justify-items-center [grid-template-columns:repeat(auto-fit,minmax(250px,max-content))]">
                        @for (price of productOff?.productOfferingPrice; track price.id) {
                            @if (price.priceType == 'recurring') {
                                <div class="mx-auto bg-white dark:bg-secondary-200 dark:border-gray-800 border border-gray-200 rounded-lg shadow w-full">
                                    <div class="bg-green-500 rounded-t-lg w-full text-wrap break-all">
                                        <h5 class="flex justify-center mb-2 p-6 text-2xl font-bold tracking-tight text-gray-900 w-full break-all">{{price.name}}</h5>
                                    </div>
                                    <div class="pl-4 pr-4">
                                        <markdown class="dark:text-gray-200 w-full p-4 text-wrap break-all" [data]="price?.description"></markdown>
                                    </div>
                                </div>
                            } @else if (price.priceType == 'usage') {
                                <div class="mx-auto bg-white border border-gray-200 dark:bg-secondary-200 dark:border-gray-800 rounded-lg shadow w-full">
                                    <div class="bg-yellow-300 rounded-t-lg w-full">
                                        <h5 class="flex justify-center mb-2 p-6 text-2xl font-bold tracking-tight text-gray-900 text-wrap break-all">{{price.name}}</h5>
                                    </div>
                                    <div class="pl-4 pr-4">
                                        <markdown class="dark:text-gray-200 w-full p-4 text-wrap break-all" [data]="price?.description"></markdown>
                                    </div>
                                </div>
                            } @else {
                                <div class="mx-auto bg-white border border-gray-200 dark:bg-secondary-200 dark:border-gray-800 rounded-lg shadow w-full">
                                    <div class="bg-blue-500 rounded-t-lg w-full">
                                        <h5 class="flex justify-center mb-4 p-6 text-2xl font-bold tracking-tight text-gray-900 text-wrap break-all">{{price.name}}</h5>
                                    </div>
                                    <div class="pl-4 pr-4">
                                        <markdown class="dark:text-gray-200 w-full p-4 text-wrap break-all" [data]="price?.description"></markdown>
                                    </div>
                                </div>
                            }
                        }
                        @if(productOff?.productOfferingPrice?.length==0){
                            <div class="mx-auto bg-white border border-gray-200 dark:bg-secondary-200 dark:border-gray-800 rounded-lg shadow w-full">
                                <div class="bg-blue-500 rounded-t-lg w-full">
                                    <h5 class="flex justify-center mb-2 p-6 text-2xl font-bold tracking-tight text-gray-900">{{ 'SHOPPING_CART._free' | translate }}</h5>
                                </div>
                                <p class="flex justify-center mb-2 font-normal text-gray-700 dark:text-white">{{ 'SHOPPING_CART._free_desc' | translate }}</p>
                            </div>
                        }
                    </div>
                }
            }
            
        </div>

        <div #charsScrollAnchor id="chars-scroll-anchor" class="pt-[88px] -mt-[88px]"></div>
        @if(prodSpec.productSpecCharacteristic != undefined && prodChars.length>0) {
            <div #charsContent id="chars-container">
                <h2 class="text-4xl font-extrabold text-primary-100 text-center pb-8 pt-12 dark:text-primary-50">{{ 'PRODUCT_DETAILS._product_chars' | translate }}</h2>
                <div class="container mx-auto px-4">
                    <div class="flex flex-wrap -mx-4 justify-center">
                        @for (char of prodChars; track char.id; let idx = $index) {
                            <div class="w-full md:w-1/2 lg:w-1/3 px-4 mb-8">
                                <div class="border border-gray-200 rounded-lg shadow bg-white dark:bg-secondary-200 dark:border-gray-800 shadow-md p-8 h-full">
                                    <h3 class="text-2xl font-bold mb-4 dark:text-white break-all">{{char.name}}</h3>
                                    @for (val of char?.productSpecCharacteristicValue; track val.value) {
                                        @if (val?.isDefault == true) {
                                            <div class="flex items-center pl-4">
                                                <input disabled checked id="disabled-checked-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 dark:bg-gray-600 dark:border-gray-800 rounded-full focus:ring-blue-500 focus:ring-2">
                                                @if(val.value){
                                                    <label for="disabled-checked-checkbox" class="ms-2 text-sm font-medium text-gray-700 dark:text-gray-200 dark:bg-secondary-200 dark:border-gray-800 text-wrap break-all">{{val.value}} ({{val.unitOfMeasure}})</label>
                                                } @else {
                                                    <label for="disabled-checked-checkbox" class="ms-2 text-sm font-medium text-gray-700 dark:text-gray-200 dark:bg-secondary-200 dark:border-gray-800 text-wrap break-all">{{val.valueFrom}} - {{val.valueTo}} ({{val?.unitOfMeasure}})</label>
                                                }
                                            </div>
                                        } @else {
                                            <div class="flex items-center pl-4">
                                                <input disabled id="disabled-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 dark:bg-gray-600 dark:border-gray-800 border-gray-300 rounded-full focus:ring-blue-500 focus:ring-2">
                                                @if(val.value){
                                                    <label for="disabled-checked-checkbox" class="ms-2 text-sm font-medium text-gray-700 dark:text-gray-200 text-wrap break-all">{{val.value}} ({{val.unitOfMeasure}})</label>
                                                } @else {
                                                    <label for="disabled-checked-checkbox" class="ms-2 text-sm font-medium text-gray-700 dark:text-gray-200 text-wrap break-all">{{val.valueFrom}} - {{val.valueTo}} ({{val?.unitOfMeasure}})</label>
                                                }
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        } @empty {
                            <div class="flex justify-center items-center w-full">
                                <div class="flex items-center w-1/2 p-4 mb-4 text-sm text-primary-100 rounded-lg bg-white border border-gray-200 shadow-md dark:bg-secondary-200 dark:text-primary-50" role="alert">
                                  <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                                  </svg>
                                  <span class="sr-only">Info</span>
                                  <p class="text-center">
                                    {{ 'PRODUCT_DETAILS._no_chars' | translate }}
                                  </p>
                                </div>
                              </div>
                        }
                    </div>
                </div>
            </div>

        }

        <div #attachScrollAnchor id="attach-scroll-anchor" class="pt-[88px] -mt-[88px]"></div>
        @if(attatchments.length>0){
        <h2 #attachContent class="text-4xl font-extrabold text-primary-100 dark:text-primary-50 text-center pb-8 pt-12">{{ 'PRODUCT_DETAILS._product_att' | translate }}</h2>
        <div id="attach-container" class="container mx-auto px-4">
            <div class="flex flex-wrap -mx-4 justify-center">
                @for (att of attatchments; track att.id) {
                    <div class="w-full md:w-1/2 lg:w-1/3 px-4 mb-8">
                        <div class="border border-gray-200 rounded-lg shadow bg-white dark:bg-secondary-200 dark:border-gray-800 shadow-md p-8 h-full grid grid-cols-80/20 pb-4 h-1/4">
                            <div class="flex justify-start">
                                <h3 class="text-2xl font-bold mb-4 dark:text-white break-all">{{att.name}}</h3>
                            </div>
                            <!--<a class="mb-2 font-normal pl-4 text-primary-100 text-wrap break-all" target="_blank" href="{{att.url}}">
                                {{att.url}}
                            </a>-->
                            <div class="flex justify-end">
                                <fa-icon [icon]="faDownload" (click)="goToLink(att.url)" class="fa-xl cursor-pointer text-primary-100 align-middle"></fa-icon>
                            </div>
                        </div>
                    </div>
                } @empty {
                    <div class="flex justify-center items-center w-full">
                        <div class="flex items-center w-full md:w-1/2 p-4 mb-4 text-sm text-primary-100 rounded-lg bg-white border border-gray-200 shadow-md dark:bg-secondary-200 dark:text-primary-50" role="alert">
                          <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                          </svg>
                          <span class="sr-only">Info</span>
                          <p class="text-center">
                            {{ 'PRODUCT_DETAILS._no_attach' | translate }}
                          </p>
                        </div>
                      </div>
                }
            </div>
        </div>

        }
        <div #agreementsScrollAnchor id="agreements-scroll-anchor" class="pt-[88px] -mt-[88px]"></div>
        <div  id="agreements-container">
        @if(licenseTerm || productOff?.serviceLevelAgreement){
            
                @if(licenseTerm && licenseTerm?.description != ''){
                    <h2 #agreementsContent class="text-4xl font-extrabold text-primary-100 text-center pb-8 pt-12 dark:text-primary-50">{{ 'PRODUCT_DETAILS._license' | translate }}</h2>
                    <div class="container mx-auto px-4">
                        <div class="border border-gray-200 rounded-lg shadow bg-white dark:bg-secondary-200 dark:border-gray-800 p-8">
                            <div class="pb-4 h-1/4">
                                <!--<div class="flex justify-start">
                                    <h2 class="text-gray-900 dark:text-white text-3xl font-extrabold mb-2 text-wrap break-all">{{licenseTerm.name}}</h2>
                                </div>-->
                                <div class="flex justify-end">
                                    <fa-icon [icon]="faScaleBalanced" class="fa-2xl text-primary-100 align-middle"></fa-icon>
                                </div>
                            </div>
                            <!-- Apply line-clamp to this div, not markdown -->
                            <div #termsText [class.line-clamp-5]="!showTermsMore" class="overflow-hidden">
                                <markdown
                                [data]="licenseTerm?.description"
                                class="text-lg font-normal text-gray-700 dark:text-gray-200 mb-4 break-all">
                                </markdown>
                            </div>                            
                            
                            @if(showReadMoreButton){
                                <button
                                class="mt-4 text-blue-500 focus:outline-none"
                                (click)="toggleTermsReadMore()">
                                {{ showTermsMore ? 'Read less' : 'Read more' }}
                                </button>
                            }
                                                         
                        </div>
                    </div>
                }
                @if(productOff?.serviceLevelAgreement){
                <h2 class="text-4xl font-extrabold text-primary-100 text-center pb-8 pt-12">{{ 'PRODUCT_DETAILS._sla' | translate }}</h2>
                    <p class="mb-2 pl-4 font-normal text-gray-700">{{productOff?.serviceLevelAgreement?.name}}.</p>
                }            
        }
        </div>

        <div #relScrollAnchor id="rel-scroll-anchor" class="pt-[88px] -mt-[88px]"></div>
        @if(prodSpec.productSpecificationRelationship != undefined && prodSpec.productSpecificationRelationship.length>0){
            <h2 #relationshipsContent class="text-4xl font-extrabold text-primary-100 text-center pb-8 pt-12 dark:text-primary-50">{{ 'PRODUCT_DETAILS._product_rels' | translate }}</h2>
            <div id="relationships-container" class="container mx-auto px-4">
                <div class="flex flex-wrap -mx-4 justify-center">
                    @for (rel of prodSpec.productSpecificationRelationship; track rel.id) {
                        <div class="w-full md:w-1/2 lg:w-1/3 px-4 mb-8">
                            <div class="border border-gray-200 rounded-lg shadow bg-white dark:bg-secondary-200 dark:border-gray-800 shadow-md p-8 h-full">
                                <h3 class="text-2xl font-bold mb-4 dark:text-white break-all">{{rel.name}}</h3>
                                <div class="flex justify-between">
                                    <p class="mb-2 font-normal pl-4 text-gray-700 dark:text-gray-200">{{rel.relationshipType}}</p>
                                    @if(rel.relationshipType == 'dependency'){
                                        <fa-icon [icon]="faArrowProgress" class="fa-2xl text-primary-100 align-middle"></fa-icon>
                                    } @else if(rel.relationshipType == 'migration'){
                                        <fa-icon [icon]="faArrowRightArrowLeft" class="fa-2xl text-primary-100 align-middle"></fa-icon>
                                    } @else if(rel.relationshipType == 'exclusivity'){
                                        <fa-icon [icon]="faObjectExclude" class="fa-2xl text-primary-100 align-middle"></fa-icon>
                                    } @else if(rel.relationshipType == 'substitution'){
                                        <fa-icon [icon]="faSwap" class="fa-2xl text-primary-100 align-middle"></fa-icon>
                                    }

                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }

    </div>
</div>

<!-- ADD TO CART TOAST -->
@if (toastVisibility) {
    <div id="toast-add-cart" class="flex grid grid-flow-row mr-2 items-center w-auto max-w-xs p-4 text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800 fixed top-1/2 right-0 z-50 justify-center" role="alert">
      <div class="flex items-center justify-center">
        <svg class="w-[18px] h-[18px] text-gray-800 dark:text-white mr-2 " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 15a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm0 0h8m-8 0-1-4m9 4a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-9-4h10l2-7H3m2 7L3 4m0 0-.792-3H1"/>
        </svg>
        <div class="text-sm font-normal">
          {{ 'CARD._added_card' | translate }}.
        </div>
        <div class="flex items-center ms-auto space-x-2 rtl:space-x-reverse p-1.5">
            <button type="button" (click)="deleteProduct(lastAddedProd)" class="px-3 py-2 text-xs font-medium text-center text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">{{ 'CARD._undo' | translate }}</button>
            <button type="button" (click)="toastVisibility=false" class="ms-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700" data-dismiss-target="#toast-add-cart" aria-label="Close">
            <span class="sr-only">{{ 'CARD._close_toast' | translate }}</span>
            <svg class="w-3 h-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
            </svg>
          </button>
        </div>
      </div>
      <div class="flex w-full mt-2 rounded-full h-2.5 dark:bg-gray-700">
        <div id="progress-bar" class="flex bg-green-600 h-2.5 rounded-full dark:bg-green-500 transition-width delay-200 duration-3000 ease-out" style="width: 0px;"></div>
      </div>
    </div>
}
<!-- CART SELECTION modal -->
@if (cartSelection){
<cart-card [productOff]="productOff" [prodSpec]="prodSpec" [images]="images" [cartSelection]="cartSelection"></cart-card>
}

@if (showError){
<error-message class="flex justify-center items-center fixed w-fit top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50" [message]="errorMessage"></error-message>
}

@if (showQuoteModal){
  <app-quote-request-modal 
  [ngClass]="showQuoteModal ? 'backdrop-blur-sm': ''" 
  class="flex justify-center overflow-x-hidden fixed top-0 right-0 left-0 z-40 justify-center items-center w-full md:inset-0 h-full max-h-full rounded-lg shadow-2xl"
  (click)="$event.stopPropagation();"
  [productOff]="productOff"
  [prodSpec]="prodSpec"
  [orgInfo]="orgInfo"
  [customerId]="customerId"
  [isOpen]="showQuoteModal"
  ></app-quote-request-modal>
}

<!-- Drawer Reutilizable -->

    <app-price-plan-drawer
    data-cy="pricePlanDrawer"
    [drawerId]="'drawer-product'"
    [productOff]="productOff"
    [prodSpec]="prodSpec"
    [isOpen]="isDrawerOpen"
    [width]="'w-2/3'"
    (closeDrawer)="closeDrawer()">
  </app-price-plan-drawer>


