
<div class="dark:bg-tertiary-50">
  <!-- Jumbo section -->
  <section id="jumbo" class="w-full">
      <div class="pt-8 pb-8 px-4 w-full text-left lg:pt-16 lg:px-12 bg-cover bg-right-bottom items-center justify-between" [style.background-image]="'url(' + currentTheme?.assets?.jumboBgUrl + ')'"
      >
          <!--<a href="#" class="inline-flex justify-between items-center py-1 px-1 pr-4 mb-7 text-sm rounded-full bg-gray-800 text-white hover:bg-gray-700" role="alert">
            <span class="text-xs bg-primary-100 rounded-full text-white px-4 py-1.5 mr-3">{{ 'DASHBOARD._new' | translate }}</span> <span class="text-sm font-medium">{{ 'DASHBOARD._title' | translate }}</span>
            <svg class="ml-2 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
          </a>-->
          <div class="flex flex-col md:flex-row justify-between px-4 mx-auto max-w-screen-xl">
            <div data-cy="mainText">
              <h1 class="mb-4 text-left text-4xl font-extrabold tracking-tight md:text-5xl lg:text-6xl text-secondary-50">{{ 'DASHBOARD._header' | translate }}</h1>
              <p class="text-left mb-8 text-lg font-normal lg:text-xl text-secondary-50">{{ 'DASHBOARD._subheader' | translate }}</p>
              <button data-cy="browseServices" id="browseServices" (click)="goTo('/search')"
              class="group inline-flex justify-left items-center border border-1 border-white py-3 px-5 text-base font-medium text-center text-white rounded-lg hover:bg-primary-50 ">
              <svg class="mr-2 w-5 h-5 text-white group-hover:text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
              {{ 'DASHBOARD._browse_serv' | translate }}
              </button>
            </div>
            <div class="mt-4 md:mt-0 bg-secondary-300 bg-opacity-50 rounded-lg w-full md:w-1/4 h-[300px]">
              <div class="w-full p-8 rounded-lg shadow-lg h-[300px] flex flex-col justify-between">
                <div class="flex flex-col">
                  <p data-cy="vServices" class="mb-2 text-left text-lg font-normal lg:text-xl text-secondary-50 h-fit">{{services.length}} verified services</p>
                  @for (serv of services; track serv; let pos = $index) {
                    <a data-cy="nameServices"  *ngIf="currentIndexServ === pos"
                       [style.display]="'-webkit-box'"
                       [style.webkitBoxOrient]="'vertical'"
                       [style.webkitLineClamp]="'2'"
                       class="text-md text-wrap break-all line-clamp-2 mb-2 font-medium block items-center
                              px-2.5 py-0.5 rounded-md text-primary-100 bg-secondary-50 w-fit animate-in">
                      {{ serv }}
                    </a>
                  }

                </div>
                <div class="flex flex-col">
                  <p data-cy="rPublishers" class="mb-2 text-left text-lg font-normal lg:text-xl text-secondary-50">{{publishers.length}} registered providers</p>
                  @for (pub of publishers; track pub; let pos = $index) {
                    <a data-cy="nameOrgs" *ngIf="currentIndexPub === pos"
                    [style.display]="'-webkit-box'"
                    [style.webkitBoxOrient]="'vertical'"
                    [style.webkitLineClamp]="'2'"
                       class="text-md text-wrap break-all line-clamp-2 font-medium block items-center
                              px-2.5 py-0.5 rounded-md text-primary-100 bg-secondary-50 w-fit animate-in">
                      {{ pub }}
                    </a>
                  }

                </div>
  
                <a data-cy="publishOff" id="registerHere" href="{{domeRegister}}" target="_blank" class="group flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-primary-100 hover:bg-primary-50 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900">
                  <svg class="mr-2 w-5 h-5 text-white group-hover:text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                  {{ 'HEADER._register_here' | translate }}
                </a>
              </div>
            </div>
          </div>


      </div>
    </section>
    <!-- End Jumbo section -->
    @if(searchEnabled){
      <section class="content mx-auto pt-8 pb-5 px-4 mx-auto max-w-screen-xl lg:pb-5 lg:pt-16 w-full flex items-center" [ngClass]="isFilterPanelShown ? 'sticky top-[118px] backdrop-blur-sm z-20': 'sticky top-[72px] backdrop-blur-sm z-20'">
        <form class="mx-5 w-full">
          <div class="flex">
            <div class="relative w-full">
              <input type="search" id="dashboardSearchBar" [formControl]="searchField" (keydown.enter)="filterSearch($event)" class="block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-secondary-500 dark:border-s-gray-700  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500" placeholder="{{ 'DASHBOARD._search_ph' | translate }}" required>
              <button type="submit" id="dashboardSearchButton" (click)="filterSearch($event)" class="group absolute top-0 end-0 p-2.5 text-sm font-medium h-full text-white bg-primary-100 rounded-e-lg border border-secondary-100 hover:bg-primary-50 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:border-secondary-400">
                <svg class="w-4 h-4 text-white group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                </svg>
                <span class="sr-only">{{ 'DASHBOARD._search' | translate }}</span>
              </button>
            </div>
          </div>
        </form>
      </section>
    }

    <!--<app-how-it-works></app-how-it-works>-->
    <bae-off-featured data-cy="offFeatured"></bae-off-featured>
    <!--<bae-off-gallery *ngIf="currentTheme?.dashboard?.showFeaturedOfferings">
    </bae-off-gallery>-->
    <app-platform-benefits *ngIf="currentTheme?.dashboard?.showPlatformBenefits"></app-platform-benefits>
    @if(providerThemeName=='DOME'){
      <div >
        <div class="border-t border-gray-200 dark:border-gray-600 w-full">
          <div class="flex flex-row items-center pt-4">
            <img 
              class="h-12 w-auto ml-4" 
              src="assets/logos/euflag.png" 
              alt="EU flag image"
            >
            <p class="ml-4 text-base font-normal text-gray-500 dark:text-gray-400 text-start">
              Distributed Open Marketplace for Europe (DOME) Project has received funding from 
              European Union’s Digital Europe Programme under the Grant Agreement No 101084071.
            </p>
          </div>
        </div> 
      </div>
  
    } 
    <!--<app-explore-dome></app-explore-dome>-->
    <!--<app-faq></app-faq>-->

    <!-- @if(showContact){
      <contact-us [ngClass]="showContact ? 'backdrop-blur-sm': ''" class="flex justify-center overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full shadow-2xl"></contact-us>
    } -->

  </div>
